<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Website</title>
  </head>
  <body>
    <h1>Site under maintenance</h1>
    <p>{{screamIt "We will be back shortly"}}</p>

    {{> footer}}
  </body>
</html>
